@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Sistema de cadastro de usuários</h1><hr /><br />

    <ul class="list-group">
        <li class="list-group-item"><b>Desenvolvido por:</b> Vinicius Ignácio dos Santos</li>
        <li class="list-group-item">
            <b>Tecnologias</b>
            <ul class="list-group">
                <li class="list-group-item">.NET CORE 2.2</li>
                <li class="list-group-item">ASP NET CORE MVC</li>
                <li class="list-group-item">AJAX</li>
                <li class="list-group-item">SQL</li>
                <li class="list-group-item">DESIGN PATTERNS</li>
            </ul>
        </li>
    </ul>
</div>
